.banner {
  background: #8201d0;
  border-radius: 0.6rem;
  margin-top: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  min-height: 240px;

  .text {
    color: #fff;
    margin-bottom: 20px;
  }

  .banner__img {
    width: 100%;
    object-fit: contain;
    max-width: 300px;
    position: absolute;
    z-index: 1;
    bottom: -44px;
    right: 0;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: 400;
}

.container__card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 680px;
  width: 100%;
}
